* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #74B9FF;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top 75px;
    color: black;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-size: 100% calc(100% - 60px);
}

.header1 {
    background-color: #095bc4;
    position:static;
    width: 100%;
    top: 0;
    z-index: 100;
    margin-left: 0;
    margin-right: 0px;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0;
    border: 4px solid black;
    max-width: 100%;
    height: 100px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 65px;
    height: 65px;
    max-width: 100%;
}

.logo-text {
    font-size: 2rem;
    width: 20%;
}

.search {
    display:flex;
    align-items:self-start;
    background-color: white;
    padding: 5px;
    border-radius: 3px;
    border: 2px solid black;
    margin-right: 10px;
    margin-left: 50px;
    width: 45%;
    max-width: 30%;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    border: none;
    background-color: transparent;
}

input[type="text"]:focus {
    outline: none;
}

.search-icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    max-width: 100%;
}

.nav-buttons a {
    color: black;
    text-decoration: none;
    width: 50%;
    justify-content: space-evenly;
}

.btn-login{
    height: 20px;
    margin-right: 35px;
    justify-content: space-evenly;

}

.btn-user img{
    width: 20px;
    height: 20px;
    margin-right: 35px;
    justify-content: space-evenly;
}

.btn-settings img{
    width: 20px;
    height: 20px;
    margin-right: 35px;
    justify-content: space-evenly;
}
.btn-notify img {
    width: 20px;
    height: 20px;
    margin-right: 35px;
    justify-content: space-evenly;
}
/* Information */
body{
    background-color: #74B9FF;
}
.main{
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: justify;
}

h1{
    font-size: 3em;
    padding: 10px;
    text-align: center;
}

span{
    color: chocolate;
}

p{
    font-size: 18px;
    margin-left: 20px;
}

/* Texto */

.info-content{
    text-align: justify;
    margin-right: 40px;
    margin-left: 40px;
}

/* Imagenes */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider-frame{
    overflow: auto;
    align-content: center;
    width: 510px;
    margin: -30px ;
    overflow: hidden;
    position: relative;
    padding: 30px;
    margin-top: 220px;
    border-radius: solid 12px;
}

.slider-lista{
    display: flex;
    width: 400%;
    animation: slide 15s infinite alternate ease-in-out;
}

.slider-frame li{
    list-style: none;
    width: 100%;
}

.slider-frame img{
    width: 100%;
    height: 100%;
    padding: 50px;
    border-radius: 50px;
}

@keyframes slide{
    0% {margin-left: 0%;}
    10% {margin-left: 0%;}

    15% {margin-left: -100%;}
    25% {margin-left: -100%;}

    30% {margin-left: -200%;}
    50% {margin-left: -200%;}

    55% {margin-left: -300%;}
    75% {margin-left: -300%;}
}


/*Objetivo Especifico 1*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background:#74B9FF;
}

.container_card{
    max-width: 1000px;
    margin: -10px;
    float: left;
    perspective: 2000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.card_father{
    margin: 30px;
    perspective: 1000px;
}

.card_father:hover .card_1{
    transform: rotateY(180deg);
}

.card_1{
    width: 400px;
    height: 350px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 600ms;
}

.card_front{
    background-size: cover;
    background-position: center;
}

.card_front,
.card_back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 20px;
}

.card_back{
    transform: rotateY(180deg);
    background-color: white;
    text-align: justify center;
}

.body_card_front{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    transform: translateZ(60px);
}

.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    border-radius: 20px;
}

.body_card_back{
    padding: 40px;
    text-align: center;
    transform: translateZ(60px);
}

.body_card_back{
    margin-top: 30px;
    font-size: 18px;
}

/*Objetivos Especifico 2*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background:#74B9FF;
}

.container_card-1{
    max-width: 450px;
    margin: -10px;
    float: right;
    perspective: 2000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card_father{
    margin: 30px;
    perspective: 1000px;
}

.card_father:hover .card_1{
    transform: rotateY(180deg);
}

.card_1{
    width: 400px;
    height: 350px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 600ms;
}

.card_front{
    background-size: cover;
    background-position: center;
}

.card_front,
.card_back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 20px;
}

.card_back{
    transform: rotateY(180deg);
    background-color: white;
    text-align: justify center;
}

.body_card_front{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    transform: translateZ(60px);
}

.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    border-radius: 20px;
}

.body_card_back{
    padding: 40px;
    text-align: center;
    transform: translateZ(60px);
}

.body_card_back{
    margin-top: 30px;
    font-size: 18px;
}

/*Objetivo General*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background:#74B9FF;
}

.container_card-3{
    max-width: 1100px;
    margin: -10px;
    float: right;
    perspective: 2000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card_father{
    margin: 30px;
    perspective: 1000px;
}

.card_father:hover .card_1{
    transform: rotateY(180deg);
}

.card_1{
    width: 400px;
    height: 350px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 600ms;
}

.card_front{
    background-size: cover;
    background-position: center;
}

.card_front,
.card_back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 20px;
}

.card_back{
    transform: rotateY(180deg);
    background-color: white;
    text-align: justify center;
}

.body_card_front{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    transform: translateZ(60px);
}

.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    border-radius: 20px;
}

.body_card_back{
    padding: 40px;
    text-align: center;
    transform: translateZ(60px);
}

.body_card_back{
    margin-top: 30px;
    font-size: 18px;
}

/*Objetivo Especifico 3*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background:#74B9FF;
}

.container_card-2{
    overflow: auto;
    max-width: 1100px;
    margin: -10px;
    float: left;
    margin-top: -163px;
    perspective: 2000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.card_father{
    margin: 30px;
    perspective: 1000px;
}

.card_father:hover .card_1{
    transform: rotateY(180deg);
}

.card_1{
    width: 400px;
    height: 350px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 600ms;
}

.card_front{
    background-size: cover;
    background-position: center;
}

.card_front,
.card_back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 20px;
}

.card_back{
    transform: rotateY(180deg);
    background-color: white;
    text-align: justify center;
}

.body_card_front{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    transform: translateZ(60px);
}

.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    border-radius: 20px;
}

.body_card_back{
    padding: 40px;
    text-align: center;
    transform: translateZ(60px);
}

.body_card_back{
    margin-top: 30px;
    font-size: 18px;
}