* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #74B9FF;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top 75px;
    color: black;
    min-height: 100vh;
    background-size: 100% calc(100% - 60px);
}

main {
    margin-top: 120px;
}

/* FOTO */
.container {
    width: 200px;
    height: 200px;
    background-color: rgba(255, 248, 248);
    margin-left: 20px;
    margin-top: -195px;
    border: black solid 3px;
}

.container input {
    display: block;
    width: 100px;
    padding: .1rem;
    margin: auto;
    margin-bottom: 2px;
    outline: none;
    cursor: pointer;
    margin-top: 45px;
    align-items: center;
}

.input-1 {
    background: #fff;
    margin-top: 50px;
    margin-left: 5px;
    height: 20px;
    width: 300px;
}

.container .input-1 {
    background:#fff;
    font-family: Georgia;
}

.imagen img {
    width: 30px;
    height: 20px;
    margin-left: 250px;
    top: -200px;
    cursor: pointer;
}

.imagen2 img {
    width: 30px;
    height: 20px;
    margin-left: 250px;
    top: -250;
    cursor: pointer;
}

.imagen3 img {
    width: 40px;
    height: 40px;
    margin-left: 250px;
    top: -250;
    cursor: pointer;
}

.container-1 {
    margin: 50px;
    margin-top: 70px;
}

.container-1 input {
    width: 50px;
    height: 20px;
    margin-top: -10px;
    margin-left: 420px;
    cursor: pointer;
}

.container-2 {
    margin: 50px;
    margin-top: -20px;
}

.container-2 input {
    width: 50px;
    height: 20px;
    margin-top: -5px;
    margin-left: 420px;
    cursor: pointer;
}

.container-3 {
    margin-left: 600px;
    margin-top: -190px;
}

.container-3 input {
    width: 50px;
    height: 20px;
    margin-top: -5px;
    margin-left: 230px;
    cursor: pointer;
}

.container-4 {
    margin-left: 600px;
    margin-top: 40px;
}

.container-5 {
    width: 300px;
    height: 350px;
    margin: 0px;
    border: black solid 2px;
    text-align: center;
    background: #fff;
    margin-left: 950px;
    margin-top: -350px;
    padding: 15px;
}

.container-5 img {
    width: 50px;
    margin-left: -250px;
}

h5{
    margin-top: -40px;
}

.p1{
    margin-top: 30px;
    text-align: justify;
}