* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    background-color: #74b9ff;
    min-height: 100vh;
}

.header1 {
    background-color: #095bc4;
    position:static;
    width: 100%;
    top: 0;
    z-index: 100;
    margin-left: 0;
    margin-right: 0px;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0;
    border: 4px solid black;
    max-width: 100%;
    height: 100px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 65px;
    height: 65px;
    max-width: 100%;
}

.logo-text {
    font-size: 2rem;
    width: 20%;
}

.search {
    display:flex;
    align-items:self-start;
    background-color: white;
    padding: 5px;
    border-radius: 3px;
    border: 2px solid black;
    margin-right: 10px;
    margin-left: 50px;
    width: 45%;
    max-width: 30%;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    border: none;
    background-color: transparent;
}

input[type="text"]:focus {
    outline: none;
}

.search-icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    max-width: 100%;
}

.nav-buttons a {
    color: black;
    text-decoration: none;
    width: 50%;
    justify-content: space-evenly;
}

.btn-login{
    height: 20px;
    margin-right: 35px;
    justify-content: space-evenly;

}

.btn-user img{
    width: 20px;
    height: 20px;
    margin-right: 35px;
    justify-content: space-evenly;
}

.btn-settings img{
    width: 20px;
    height: 20px;
    margin-right: 35px;
    justify-content: space-evenly;
}
.btn-notify img {
    width: 20px;
    height: 20px;
    margin-right: 35px;
    justify-content: space-evenly;
}



.container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid ;
    border-radius: 5px;
    background-color:#70a1ff;
    align-items: center;
    justify-content: center;
    border: 2px solid black;

}

h2{
padding-left: 115px;
}

.form-group {
    margin-bottom: 20px;

}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: beige;
}

button {
    background-color: #095bc4;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 148px;
    border: 2px solid black;
}

button:hover {
    background-color: blue;
}
