* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    background-color: #74b9ff;
    min-height: 100vh;
}

.container {
    max-width: 500px;
    margin: 140px auto;
    padding: 20px;
    border: 1px solid ;
    border-radius: 5px;
    background-color:#70a1ff;
    align-items: center;
    justify-content: center;
    border: 2px solid black;

}

h2{
padding-left: 115px;
}

.form-group {
    margin-bottom: 20px;

}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: beige;
}

button {
    background-color: #095bc4;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 148px;
    border: 2px solid black;
}

button:hover {
    background-color: blue;
}
