* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('/Imagenes/Background.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center top 75px;
    color: black;
    min-height: 100vh;
    background-size: 100% calc(100% - 60px);
}

/* SECCION IZQUIERDA */
.left-section {
    position: absolute;
    top: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: 26px;
}

.button-1,
.button-2,
.button-3 {
    height: 40px;
    width: 40px;
    background: none;
    color: transparent;
    cursor: pointer;
    margin-bottom: 18px;
}

/* SECCION DERECHA */

.right-section {
    position: absolute;
    top: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    right: 26px; 
    padding-right: 40px;
}

.button-4,
.button-5 {
    height: 150px;
    width: 150px;
    background: none;
    color: transparent;
    cursor: pointer;
    margin-bottom: 18px;
}

.button-4 img,
.button-5 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* GALERIA */
.container-g {
    width: 600px;
    margin: 50px;
    overflow: hidden;
    position: relative;
    padding: 30px;
}

.img-list {
    display: flex;
    width: 400%;
    animation: slide 15s infinite alternate ease-in-out;
}

.container-g li{
    list-style: none;
    width: 100%;
}

.container-g img{
    width: 100%;
    height: 100%;
    padding: 50px;
    border-radius: 50px;
}

@keyframes slide{
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
}