* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    color: black;
    background-color: #74b9ff;
    min-height: 100vh;
}

.header2 {
    background-color:  #095bc4;
    color: black;
    text-align: center;
    align-items: center;
    padding: 0px;
    margin: 20px;
    font-size: 20px;
}

h1 {
    margin: 0;
}

.ofertas {
    margin: 10px;
}

.oferta {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    align-items: center;
    overflow-y: auto;
}

h2 {
    margin-top: 0;
}

p {
    margin: 5px 0;
}
.aplicar-btn {
    background: linear-gradient(135deg, #74b9ff, #095bc4);
    color: black;
    border-radius: 2px;
    padding: 8px 16px;
    cursor: pointer;
    text-decoration: none;
    
}

.aplicar-btn:hover {
    background-color: #81ecec;
    text-decoration:line-through;
}

.contenedor{
    margin-top: 10px;
    width: 50%;
    height: 50rem;
    overflow-y: auto;
    float: left;
}

.contenedor2{
    margin-top: 90px;
    width: 45%;
    height: 70%;
    margin-right: 10px;
    float: right;
}
.content{
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    align-items: center;
    overflow-y: auto;
}