* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    background-color: #74b9ff;
    min-height: 100vh;
}

.header1 {
    background-color: #095bc4;
    position:static;
    width: 100%;
    top: 0;
    z-index: 100;
    margin-left: 0;
    margin-right: 0px;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0;
    border: 4px solid black;
    max-width: 100%;
    height: 100px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 65px;
    height: 65px;
    max-width: 100%;
}

.logo-text {
    font-size: 2rem;
    width: 20%;
}

.search {
    display:flex;
    align-items:self-start;
    background-color: white;
    padding: 5px;
    border-radius: 3px;
    border: 2px solid black;
    margin-right: 10px;
    margin-left: 50px;
    width: 45%;
    max-width: 30%;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    border: none;
    background-color: transparent;
}

input[type="text"]:focus {
    outline: none;
}

.search-icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    max-width: 100%;
}

.nav-buttons a {
    color: black;
    text-decoration: none;
    width: 50%;
    justify-content: space-evenly;
}

.btn-login{
    height: 20px;
    margin-right: 35px;
    justify-content: space-evenly;

}

.btn-user img{
    width: 20px;
    height: 20px;
    margin-right: 35px;
    justify-content: space-evenly;
}

.btn-settings img{
    width: 20px;
    height: 20px;
    margin-right: 35px;
    justify-content: space-evenly;
}
.btn-notify img {
    width: 20px;
    height: 20px;
    margin-right: 35px;
    justify-content: space-evenly;
}

.container1 {
    background-color: #fff;
    width: 400px;
    height: auto;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: justify;
    float:right;
    margin-top: 100px;
    margin-right: 10px;
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
    
}
.border-button {
    position: relative;
    background-color: #095bc4;
    border: 2px solid #000;
    color: #000;
    font-size: 18px;
    padding: 5px 20px;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.5s ease, border 0.5s ease;
    margin-left: 100px;
    margin-top: 10px;
    text-decoration: none;
}

.border-button::before,
.border-button::after {
    content: "";
    position: absolute;
    background-color: white;
    transition: transform 0.3s ease;
}

.border-button::before {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    transform: translateX(0);
}

.border-button::after {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    transform: translateX(0);
}

.border-button:hover {
    color: #000;
    border-color: black;
}

.border-button:hover::before {
    transform: translateX(100%);
}

.border-button:hover::after {
    transform: translateX(-100%);
}


#container2 {
    background-color: #fff;
    width: 700px;
    margin: 50px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    float: left;
    margin-left: 20px;
    overflow-y: auto;
    height: 450px;
    margin-top: 0;
}

h1 {
    font-size: 24px;
    margin-left: 190px;
}
.title{
    margin-left: 240px;
}

.offer-table {
    width: 100%;
    border-collapse: collapse;
}


.offer-table th,
.offer-table td {
    padding: 10px;
    border: 2px solid black;
    text-align: left;
}

.offer-table td {
    padding: 10px;
    border: 2px solid black;
    text-align: left;
}

.offer-table th {
    background-color: #095bc4;
    color: #000;
}
.funciones{
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    text-align: left;
}

.offer-table tr:nth-child(even) {
    background-color: #f2f2f2;
}


.volver {
    position: relative;
    background-color: #095bc4;
    border: 2px solid #000;
    color: #000;
    font-size: 18px;
    padding: 5px 2px;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.5s ease, border 0.5s ease;
    margin-left: 67rem;
    margin-top: 15px;
    width: 150px;
}

.volver img{
    width: 15%;
}

.volver::before,
.volver::after {
    content: "";
    position: absolute;
    background-color: white;
    transition: transform 0.3s ease;
}

.volver::before {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    transform: translateX(0);
}

.volver::after {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    transform: translateX(0);
}

.volver:hover {
    color: #000;
    border-color: black;
}

.volver:hover::before {
    transform: translateX(100%);
}

.volver:hover::after {
    transform: translateX(-100%);
}