* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #74B9FF;
}

.left-list {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.left-list ul {
    list-style: none;
    display: flex;
    flex-direction: column; 
    gap: 5px;
}

.left-list li {
    margin-bottom: 10px;
    border: 2px solid black;
    padding: 5px 20px;
    border-left: none;
    background-color: #D3D3D3;
}

.center-list {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    gap: 40px;
    padding: 10px 20px;
    background-color: white;
}

.center-list ul {
    list-style: none;
    display: flex;
}

.center-list li {
    margin-right: 10px;
    border: 2px solid black;
}

.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-location {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 150px;
    left: 67%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.center-text {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}
